<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  
  <article class="col-12 col-md-9">
    <p>
      Похоже, что я неплохо разобрался в создании моделей и форм. 
      Еще довльно интересно думать над тем, какой доджна быть вьюха. 
      А вот html дается довольно тяжело, хотя я вижу структуру шаблона, но все равно не всегда понятно, как и куда что-то добавить.
    </p>
  </article>
</div>
{% endblock %}